html {
	background: #dff;
}

#stage {
	display: flex;
	flex-wrap: wrap;
	width: 400px;
	margin: 0 auto;
	border: 1px solid #999;
}

#stage div {
	cursor: pointer;
	font-size: 2rem;
	line-height: 3;
	color: #060;
	background-color: #060;
	border: 1px solid #999;
	box-sizing: border-box;
	width: 100px;
	height: 100px;
	text-align: center;
	border-radius: 10px;
}
